@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:100&display=swap");

ul#example {
	list-style: none;
	margin: 50px 0;
	padding: 0;
	display: block;
	text-align: center;
}

ul#example li {
	display: inline-block;
}

ul#example li span {
	color: #ecf0f1;
	font-size: 80px;
	font-weight: 300;
	line-height: 80px;
	font-family: 'Roboto', sans-serif;
}

.light-theme ul#example li span {
	color: #363f48;
}

ul#example li.seperator {
	color: #ecf0f1;
	font-size: 80px;
	line-height: 70px;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
}

.light-theme ul#example li.seperator {
	color: #363f48;
}

ul#example li p {
	color: #1abc9c;
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
	font-family: "Hey Gorgeous";
  src: url("heygorgeous.ttf"), url("heygorgeous.eot");
  /* IE */;
}

h1 {
	color: #ecf0f1;
	font-family: 'Hey Gorgeous', sans-serif;
	font-size: 20px;
}

.light-theme h1 {
	color: #363f48;
}

body {
	background-color: #363f48;
	color: #ecf0f1;
	margin-top: 20px;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

body.light-theme {
	background-color: #ecf0f1;
	color: #363f48;
}
